.cards-container {
  display: grid;
  gap: 1.5rem;
  grid-template: 1fr / 1fr;

  @media (min-width: 576px) {
    grid-template: 1fr / 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow .3S ease;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .img-container {
    overflow: hidden;
    margin-bottom: 0.5rem;
    padding-top: 56.25%;
    position: relative;
    border-bottom: 1px solid var(--border-color);

    img {
      position: absolute;
      top: 0;
      width: 100%;
      object-fit: cover;

      &.logo {
        object-fit: contain;
        height: 100%;
        padding: 5%;
      }
    }
  }

  a {
    border-width: 0;
  }

  p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0;

    &.title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    &.excerpt {
      line-height: 1.25rem;
    }
  }
}
