// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.

.avatar {
  // <<< inline
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  overflow: hidden;
  // >>>

  // <<< link
  display: inline-block;
  position: relative;
  z-index: 1;
  img { width: 100%; }
  // >>>

  // <<< inline
  @media screen and (min-width: $break-point-5) {
    width: 12rem;
    height: 12rem;
  }
  // >>>
}

// <<< inline
.content .avatar {
  float: right;
  margin-left: .5rem;
}
// >>>
