// Copyright (c) 2017 Florian Klampfer <https://qwtel.com/>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

$font-family-heading: {{ site.font_heading | default:"Roboto Slab, Helvetica, Arial, sans-serif" }};
$font-family:         {{ site.font         | default:"Noto Sans, Helvetica, Arial, sans-serif"   }};

@import "variables";
@import "my-variables";
@import "mixins";

@import "reboot-mod";

{% unless site.hydejack.no_inline_css or jekyll.environment == 'development' %}
  @import "pooleparty/__link__/base";
  @import "pooleparty/__link__/type";
  @import "pooleparty/__link__/table";
  @import "pooleparty/__link__/footer";
  @import "pooleparty/__link__/footnotes";
  @import "pooleparty/__link__/code";
  @import "pooleparty/__link__/posts";
  @import "pooleparty/__link__/related";
  @import "pooleparty/__link__/read-more";
  @import "pooleparty/__link__/message";
  @import "pooleparty/__link__/pagination";

  @import "hydejack/__link__/base";
  @import "hydejack/__link__/utilities";
  @import "hydejack/__link__/links";
  @import "hydejack/__link__/images";
  @import "hydejack/__link__/sidebar";
  @import "hydejack/__link__/social";
  @import "hydejack/__link__/menu";
  @import "hydejack/__link__/content";
  @import "hydejack/__link__/avatar";
  @import "hydejack/__link__/katex";
  @import "hydejack/__link__/footer";

  @import "3615yeye/__link__/cards";
  @import "3615yeye/__link__/header";

  {% unless site.hydejack.no_mark_external or site.no_mark_external %}
    @import "hydejack/__link__/mark-external";
  {% endunless %}
  {% unless site.hydejack.no_break_layout %}
    @import "hydejack/__link__/break-layout";
  {% endunless %}

  @import "syntax";
  @import "spinner";

  // @import "my-inline";
  @import "my-style";
{% else %}
  @import "pooleparty/_base.pre.scss";
  @import "pooleparty/_type.pre.scss";
  @import "pooleparty/_table.pre.scss";
  @import "pooleparty/_footer.pre.scss";
  @import "pooleparty/_footnotes.pre.scss";
  @import "pooleparty/_code.pre.scss";
  @import "pooleparty/_posts.pre.scss";
  @import "pooleparty/_related.pre.scss";
  @import "pooleparty/_read-more.pre.scss";
  @import "pooleparty/_message.pre.scss";
  @import "pooleparty/_pagination.pre.scss";

  @import "hydejack/_base.pre.scss";
  @import "hydejack/_utilities.pre.scss";
  @import "hydejack/_links.pre.scss";
  @import "hydejack/_images.pre.scss";
  @import "hydejack/_sidebar.pre.scss";
  @import "hydejack/_social.pre.scss";
  @import "hydejack/_menu.pre.scss";
  @import "hydejack/_content.pre.scss";
  @import "hydejack/_avatar.pre.scss";
  @import "hydejack/_katex.pre.scss";
  @import "hydejack/_footer.pre.scss";

  @import "3615yeye/_cards.pre.scss";
  @import "3615yeye/_header.pre.scss";

  {% unless site.hydejack.no_mark_external or site.no_mark_external %}
    @import "hydejack/_mark-external.pre.scss";
  {% endunless %}
  {% unless site.hydejack.no_break_layout %}
    @import "hydejack/_break-layout.pre.scss";
  {% endunless %}

  @import "syntax";
  @import "spinner";

  @import "my-inline";
  @import "my-style";

  {% unless site.hydejack.no_google_fonts or site.no_google_fonts %}
    {% assign font = font | split:',' | shift | join:',' %}
    {% assign font_heading = font_heading | split:',' | shift | join:',' %}
  {% endunless %}

  html { font-family: {{ font | default:"serif" }}; }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading { font-family: {{ font_heading | default:"serif" }}; }

  .font-active {
    font-family: $font-family;
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .heading { font-family: $font-family-heading; }
  }
{% endunless %}
