{% assign page          = include.post          %}

<div class="card">
  <a href="{{ page.url }}">
    <div class="img-container">
      <img src="{{ page.image }}" alt="" class="{{ page.image_class }}">
    </div>
    <p class="title">{{ page.title }}</p>
    <p class="excerpt">{{ page.description }}</p>
  </a>
</div>
